<hr>
<form {{action "saveBlog" on="submit"}}>
  <div class="form-group">
    <label for="title">Title</label>
    {{input class="form-control" value=blog.title}}
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    {{textarea class="form-control" value=blog.content}}
  </div>

  <div class="form-group">
    <label for="content">Author</label>
    {{input class="form-control" value=blog.author}}
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-default">Cancel</button>
  </div>
</form>
<hr>