<div class="row">
  <div class="col-md-3">
    <ul>
      {{#each model as |post|}}
      <li>
        {{#link-to 'posts.post' post }}
        {{post.title}}
        {{/link-to}}
      </li>
      {{/each}}
    </ul>

  </div>
  <div class="col-md-9">
    {{link-to "New" "posts.new" class="btn btn-primary"}}
    {{ outlet }}
  </div>
</div>

