@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Exo 2", "Arial", "sans-serif";
}

.title {
  font-family: "Lato", "Arial", "sans-serif";
  font-size: 20pt;
}

.content {
 font-family: "Lato", "Arial", "sans-serif";
 font-size: 12pt;
}

.button-bar {
  margin-top: 60px;
  padding: 4px;
}

h2#title {
  text-shadow: 4px 4px 4px #aaa;
}