<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Super Rentals HQ
    <address>
      1212 Test Address Avenue <br>
      Testington, OR 97233
    </address>
    Call: <a href="tel:503.555.1212">+1 (503) 555-1212</a> <br>
    Email: <a href="mailto:superrentalsrep@emberjs.com">Super Rentals Customer Rep</a>
  </p>
  {{#link-to 'about' class="button"}} About {{/link-to}}
</div>