.book-link .pointer {
  float: right;
  display: none
}

.book-link.active .pointer {
  float: right;
  display: block;
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #ddd border-width: 1px 0 0 0;
}

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ddd border-width: 0 0 1px 0;
}
