<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{ customer-list customers=customers}}
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          Accounts List
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Transactions
        </div>
      </div>
    </div>
  </div>

</div>

