<div class="list-group">
  {{#each books as |book|}}
    {{#link-to "books.book" book class="list-group-item book-link"}} {{book.title}}
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
    {{/link-to}}
  {{/each}}
</div>